<header th:fragment="header">
    <div class="uui-header sidebar-header">
        <nav>
            <!--Responsive html-layuot-->
            <div class="uui-responsive-header">
                <div class="responsive-header">
                    <div class="responsive-toggle-box">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="responsive-hide-menu">
                        <span></span>
                        <span></span>
                    </div>
                    <a href="#" class="responsive-brand-logo">
                        <span class="arrow fa fa-angle-left"></span>
                        <span class="logo">
                            <img src="/images/ic_logo_UUi.svg" alt="" />
                        </span>
                        <span class="title">Movie Rental</span>
                    </a>
                </div>
                <div class="responsive-menu">
                    <div class="menu-wrapper">
                        <div class="menu-scroll">
                            <ul class="nav navbar-nav">
                                <li><a th:href="@{/}"><span>Index</span></a></li>
                                <li><a th:href="@{/movies}"><span>Movies</span></a></li>
                                <li><a href="#"><span>Item 3</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="uui-toggle-box">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <a href="#" class="brand-logo">
                <span class="logo">
                    <img src="/images/ic_logo_UUi.svg" alt="" />
                </span>
                Movie Rental
            </a>
            <ul class="uui-header-tools nav navbar-nav" style="display:inline-block;color:white;" sec:authorize="isAuthenticated()">
                <li>
                    Logged in user: <span sec:authentication="name"></span><br></br>
                    Roles: <span sec:authentication="principal.authorities"></span>
                </li>
                <li style="display:inline-block;">
                    <form action="#" th:action="@{/logout}" method="get">
                        <button class="uui-button" type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
</header>