<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Movie Rental</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/js/lib/jquery-1.12.0.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/uui-all.css" />
    <link rel="stylesheet" type="text/css" href="/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css" />
    <link rel="stylesheet" href="/css/lib/components/jquery.mCustomScrollbar.min.css" />
    <script src="/js/uui-core.min.js" type="text/javascript"></script>
    <script src="/js/lib/components/jquery.mCustomScrollbar.concat.min.js"></script>
</head>
<body>
<div class="wrapper">

    <div th:replace="fragments/header :: header"></div>

    <div th:replace="fragments/menu :: menu"></div>

    <div class="uui-main-container">
        <div layout:fragment="content"></div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</div>
<script>
    $(document).ready(function () {
        UUI.Sidebar.init({ open: true });
    });
</script>
</body>
</html>