<aside  th:fragment="menu">
    <div class="uui-side-bar">
        <ul class="sidebar-menu">
            <li>
                <a th:href="@{/}">
                    <span>Index</span>
                </a>
            </li>
            <li th:classappend="${(#httpServletRequest.requestURL.toString().contains('movies')) ? 'active' : ''}">
                <a th:href="@{/movies}">
                    <span>Movies</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>Item 3</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>Item 4</span>
                </a>
            </li>
        </ul>
    </div>
</aside>