<aside  th:fragment="menu">
    <div class="uui-side-bar">
        <ul class="sidebar-menu">
            <li>
                <a href="#">
                    <span>Item 1</span>
                </a>
            </li>
            <li class="active">
                <a href="#">
                    <span>Item 2</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>Item 3</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>Item 4</span>
                </a>
            </li>
        </ul>
    </div>
</aside>