@font-face {
  font-family: 'Oswald Regular';
  src: url(../fonts/font-oswald/oswald-regular.eot);
  src: url(../fonts/font-oswald/oswald-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/font-oswald/oswald-regular.woff) format('woff'), url(../fonts/font-oswald/oswald-regular.ttf) format('truetype'), url(../fonts/font-oswald/oswald-regular.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald Bold';
  src: url(../fonts/font-oswald/oswald-bold.eot);
  src: url(../fonts/font-oswald/oswald-bold.eot?#iefix) format('embedded-opentype'), url(../fonts/font-oswald/oswald-bold.woff) format('woff'), url(../fonts/font-oswald/oswald-bold.ttf) format('truetype'), url(../fonts/font-oswald/oswald-bold.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald Light';
  src: url(../fonts/font-oswald/oswald-light.eot);
  src: url(../fonts/font-oswald/oswald-light.eot?#iefix) format('embedded-opentype'), url(../fonts/font-oswald/oswald-light.woff) format('woff'), url(../fonts/font-oswald/oswald-light.ttf) format('truetype'), url(../fonts/font-oswald/oswald-light.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url(../fonts/font-sourcesanspro/sourcesanspro-regular.eot);
  src: url(../fonts/font-sourcesanspro/sourcesanspro-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/font-sourcesanspro/sourcesanspro-regular.woff) format('woff'), url(../fonts/font-sourcesanspro/sourcesanspro-regular.ttf) format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-regular.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Light';
  src: url(../fonts/font-sourcesanspro/sourcesanspro-light.eot);
  src: url(../fonts/font-sourcesanspro/sourcesanspro-light.eot?#iefix) format('embedded-opentype'), url(../fonts/font-sourcesanspro/sourcesanspro-light.woff) format('woff'), url(../fonts/font-sourcesanspro/sourcesanspro-light.ttf) format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-light.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url(../fonts/font-sourcesanspro/sourcesanspro-bold.eot);
  src: url(../fonts/font-sourcesanspro/sourcesanspro-bold.eot?#iefix) format('embedded-opentype'), url(../fonts/font-sourcesanspro/sourcesanspro-bold.woff) format('woff'), url(../fonts/font-sourcesanspro/sourcesanspro-bold.ttf) format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-bold.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Semibold';
  src: url(../fonts/font-sourcesanspro/sourcesanspro-semibold.eot);
  src: url(../fonts/font-sourcesanspro/sourcesanspro-semibold.eot?#iefix) format('embedded-opentype'), url(../fonts/font-sourcesanspro/sourcesanspro-semibold.woff) format('woff'), url(../fonts/font-sourcesanspro/sourcesanspro-semibold.ttf) format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-semibold.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Italic';
  src: url(../fonts/font-sourcesanspro/sourcesanspro-it.eot);
  src: url(../fonts/font-sourcesanspro/sourcesanspro-it.eot?#iefix) format('embedded-opentype'), url(../fonts/font-sourcesanspro/sourcesanspro-it.woff) format('woff'), url(../fonts/font-sourcesanspro/sourcesanspro-it.ttf) format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-it.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Basic - Primary */
/* Basic - Secondary */
/* Additionally */
header .uui-header .uui-header-tools > li.uui-header-icon.global-menu > a img {
  height: 20px;
}
.uui-global-menu {
  display: none;
  position: absolute;
  z-index: 1003;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.5);
}
.uui-global-menu a:hover {
  text-decoration: none;
}
.uui-global-menu .global-menu-content {
  width: 360px;
  height: 100%;
  background: #ffffff;
  position: fixed;
  right: -360px;
  z-index: 1004;
}
@media screen and (max-width: 768px) {
  .uui-global-menu .global-menu-content {
    width: 100%;
    right: 100%;
  }
}
.uui-global-menu .global-menu-content .global-menu-header {
  position: relative;
  height: 60px;
  line-height: 60px;
  background: #39c2d7;
  min-width: 320px;
}
.uui-global-menu .global-menu-content .global-menu-header .global-menu-title {
  display: inline-block;
  font-family: 'Oswald Regular', Arial, sans-serif;
  font-size: 16px;
  letter-spacing: .25px;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 20px;
}
.uui-global-menu .global-menu-content .global-menu-header .global-menu-hide {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  background: #39c2d7;
}
.uui-global-menu .global-menu-content .global-menu-header .global-menu-hide span {
  display: block;
  position: absolute;
  height: 2px;
  width: 20px;
  background: #ffffff;
  top: 30px;
  left: 20px;
}
.uui-global-menu .global-menu-content .global-menu-header .global-menu-hide span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.uui-global-menu .global-menu-content .global-menu-header .global-menu-hide span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.uui-global-menu .global-menu-content .global-menu-search {
  position: relative;
  box-shadow: 0 1px 3px rgba(51, 51, 51, 0.2);
  z-index: 1000;
}
.uui-global-menu .global-menu-content .global-menu-search .search {
  width: 360px;
  height: 40px;
  padding: 5px 20px 5px 45px;
  border: none;
}
.uui-global-menu .global-menu-content .global-menu-search label {
  position: absolute;
  top: 50%;
  left: 20px;
  height: 16px;
  width: 16px;
  margin-top: -8px;
  margin-bottom: 0;
  line-height: normal;
}
.uui-global-menu .global-menu-content .global-menu-search label:before {
  width: 16px;
  height: 16px;
  display: inline-block;
  content: '\f002';
  font-family: 'FontAwesome';
  color: #cccccc;
  font-size: 16px;
}
.uui-global-menu .global-menu-content .global-menu-tools {
  background: #f5f5f5;
}
.uui-global-menu .global-menu-content .global-menu-tools .mCSB_container {
  margin-right: 0;
}
.uui-global-menu .global-menu-content .global-menu-tools .mCSB_scrollTools {
  width: 0;
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list {
  display: inline-block;
  width: 100%;
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-heading {
  position: relative;
  line-height: 40px;
  height: 40px;
  padding: 0 20px;
  min-width: 320px;
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-heading .group-title-wrapper {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-heading .group-title-wrapper .group-title {
  display: inline-block;
  color: #999999;
  font-size: 16px;
  letter-spacing: 0.25px;
  font-family: 'Oswald Regular', Arial, sans-serif;
  text-transform: uppercase;
  vertical-align: middle;
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-heading .group-title-wrapper .arrow {
  margin-right: 5px;
  height: 40px;
  line-height: 38px;
  color: #999999;
  font-size: 16px;
  vertical-align: middle;
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-heading .group-title-wrapper:hover .group-title,
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-heading .group-title-wrapper:hover .arrow {
  color: #666666;
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-body {
  width: 100%;
  float: left;
  border: none;
  background: #f5f5f5;
  padding: 0 9px;
  min-width: 320px;
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-body .tools-item {
  float: left;
  position: relative;
  width: 28%;
  min-width: 84px;
  padding-bottom: 28%;
  margin: 2.66%;
  background-color: #ffffff;
  overflow: hidden;
  box-shadow: 0 0 3px 0 rgba(51, 51, 51, 0.2);
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-body .tools-item .item-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 6%;
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-body .tools-item .item-wrapper .item-content {
  display: table;
  width: 100%;
  height: 100%;
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-body .tools-item .item-wrapper .item-content .item-row {
  display: table-row;
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-body .tools-item .item-wrapper .item-content .item-row .item-cell {
  display: table-cell;
  width: 100%;
  text-align: center;
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-body .tools-item .item-wrapper .item-content .item-row .item-cell.logo {
  height: 65%;
  vertical-align: middle;
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-body .tools-item .item-wrapper .item-content .item-row .item-cell.logo .image-wrapper {
  margin-top: 9%;
  padding: 0 25px;
}
@media screen and (max-width: 768px) {
  .uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-body .tools-item .item-wrapper .item-content .item-row .item-cell.logo .image-wrapper {
    padding: 0 24%;
  }
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-body .tools-item .item-wrapper .item-content .item-row .item-cell.logo .image-wrapper .tool-logo {
  width: 100%;
  height: auto;
  min-width: 36px;
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-body .tools-item .item-wrapper .item-content .item-row .item-cell.name {
  height: 35%;
  vertical-align: middle;
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-body .tools-item .item-wrapper .item-content .item-row .item-cell.name .name-wrapper {
  width: 100%;
  max-width: 86px;
  max-height: 32px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-body .tools-item .item-wrapper .item-content .item-row .item-cell.name .name-wrapper {
    max-width: 100%;
  }
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-body .tools-item .item-wrapper .item-content .item-row .item-cell.name .name-wrapper .tool-name {
  font-family: 'Source Sans Pro Semibold', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  margin-bottom: 0;
  color: #999999;
}
@media screen and (max-width: 768px) {
  .uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-body .tools-item .item-wrapper .item-content .item-row .item-cell.name .name-wrapper .tool-name {
    font-size: 3vw;
  }
}
@media screen and (max-width: 435px) {
  .uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-body .tools-item .item-wrapper .item-content .item-row .item-cell.name .name-wrapper .tool-name {
    font-size: 4vw;
  }
}
@media screen and (max-width: 320px) {
  .uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-body .tools-item .item-wrapper .item-content .item-row .item-cell.name .name-wrapper .tool-name {
    font-size: 12px;
  }
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-body .tools-item:hover {
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.2);
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-body .tools-item:hover.community-group .item-wrapper .item-content .item-row .item-cell.name .name-wrapper .tool-name {
  color: #a3c644;
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-body .tools-item:hover.epam-helps-group .item-wrapper .item-content .item-row .item-cell.name .name-wrapper .tool-name {
  color: #7f993a;
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-body .tools-item:hover.lerning-knowledge-group .item-wrapper .item-content .item-row .item-cell.name .name-wrapper .tool-name {
  color: #39c2d7;
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-body .tools-item:hover.workbench-group .item-wrapper .item-content .item-row .item-cell.name .name-wrapper .tool-name {
  color: #1a9cb0;
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-body .tools-item:hover.analysis-reporting-group .item-wrapper .item-content .item-row .item-cell.name .name-wrapper .tool-name {
  color: #b22746;
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-body .tools-item:hover.project-management-group .item-wrapper .item-content .item-row .item-cell.name .name-wrapper .tool-name {
  color: #8e244d;
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-body .tools-item:hover.useful-links-group .item-wrapper .item-content .item-row .item-cell.name .name-wrapper .tool-name {
  color: #ff9b19;
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list .tools-group-body .tools-item:hover.epam-sites-group .item-wrapper .item-content .item-row .item-cell.name .name-wrapper .tool-name {
  color: #ffdc19;
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list.my-tools .tools-group-heading .my-tools-settings {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 16px;
  color: #cccccc;
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list.my-tools .tools-group-heading .my-tools-settings:hover {
  color: #999999;
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list.my-tools .tools-group-heading .tooltip .tooltip-arrow {
  border-left-color: transparent !important;
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list.my-tools .tools-group-heading .tooltip .tooltip-inner {
  box-shadow: none;
  background: transparent !important;
  color: #cccccc;
  font-family: 'Source Sans Pro Regular', Arial, sans-serif;
  font-size: 14px;
  text-transform: none;
  padding-bottom: 8px;
}
.uui-global-menu .global-menu-content .global-menu-tools .menu-tools-list .tools-list.my-tools .tools-group-heading .tooltip.left {
  padding: 0;
}
