<!DOCTYPE html>
<html layout:decorator="fragments/layout">
<head>
    <title>Index</title>
</head>
<body>

<div layout:fragment="content">

    <table style="width:100%" class="table table-striped table-hover">
        <thead>
        <tr>
            <th><a class="sorted" sd:pagination-sort="title" >Title</a></th>
            <th>Description</th>
            <th>Release Year</th>
            <th>Length</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="film : ${page.content}">
            <td th:text="${film.title}" />
            <td th:text="${film.description}" />
            <td th:text="${film.release_year}" />
            <td th:text="${film.length}" />
        </tr>
        </tbody>
    </table>
    <div th:replace="fragments/paginationbar :: paginationbar"></div>
</div>

</body>
</html>